/*RESET des marges*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*----------------MES RÉGLAGES ------------------*/

@font-face {   /*Charge police local*/
    font-family: "RobotoBold";
    src: url("../police/Roboto-Bold.ttf") format("truetype");
    font-weight: 800;
}

h1,
.menu_header a {
    font-family: "RobotoBold", sans-serif;
    font-weight: 800;
}



/* réglage taille des police*/
h1 {
    font-size: 28px;
}

h2,h3 {
    font-size: 18px;
}

li a {
    color: #0E0F0F;
}
h1,h2,h3 {
    color: white;
}

/*-------------------  IMAGE ET NAVBAR les lien centré -----------------------------*/
body {
    background-image: url(../images/traiteur.jpg);
    background-size: cover;
}

header {
    background-color: #8DAA9D;
}

.nav-header {
    position: relative;
    display: flex; /* met cote a cote logo et menu */
    align-items: center;
}

/*-----------------SUPPRIME LES PUCES ET SOULIGNEMENT------------*/
.menu-header,ul {
    position: absolute;
    display: flex; /* aligne mes liens */
    list-style: none;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
    
}

.menu-header,li a {
    text-decoration: none;
    font-size: 32px;
}

/*-----------------------  DESCRIPTIF   ------------------------------------------*/

.descriptif {
    text-align: center;
    margin-top: 20px;
}

/*-----------------------  CARD   ------------------------------------------*/

.cards {
    display: flex;
    gap: 135px;
    justify-content: center;
    flex-wrap: nowrap; /* reste en ligne */
    margin: 45px;
}

.card {
    width: 300px;
    height: 200px;
    background-color: #699897;
    border-radius: 12px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}
 .card img {
    height: 26px;
 }


.card h2 {
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: -20px;
}



