/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------------MON SETTING PERSONNEL------------------*/

/* ajouté image de fond responsive recadré en mobile

/* POLICE */
@font-face {
    font-family: "RobotoBold";
    src: url("../police/Roboto-Bold.ttf") format("truetype");
    font-weight: 800;
}

/* ---------- TAILLES DE POLICE (DESKTOP) ---------- */
h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

p,
li {
    font-size: 16px;
}

/* PALETTE (charte graphique) */
:root {
    --txt-light: #FFFFFF;
    --txt-dark: #0E0F0F;
    --header: #8DAA9D;
    --card: #699897;
    --fond: #4A6A69;
    --btn: #FFA7A1;
}

/* UL sans puces */
li {
    list-style: none;
}

/*---------  FOOTER  ------------------*/

.footer {
    margin-top: 0px;
    padding: 5px;
    background-color: var(--header);
    font-family: "RobotoBold", sans-serif;
    color: var(--txt-dark);
    text-align: center;
}

/* UL horaires centrées */
.ul_horaire {
    padding-left: 0;
    margin-left: 0;
    text-align: center;
}

/* Horaires centrées */
.ul_horaire li {
    text-align: center;
}

/* Mentions légales alignées à gauche */
.mention {
    text-align: left;
    margin-top: 20px;
}
.mention a {
    font-size: 14px;
    color: var(--txt-dark);
}

/*-----------------------------------------------------------------------------------------*/


/*------------------------------- NAVBAR ------------------------------------------- */
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--header);
    font-family: "RobotoBold", sans-serif;
}

.logo {
    max-width: 120px;
    height: auto;
}

.burger {
    display: none;
    color: var(--txt-dark);
}

.menu_header {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu_header a {
    text-decoration: none;
    color: var(--txt-dark);
    font-size: 22px;
    font-weight: 500;
}

/* --------------------- ACCUEIL HTML----------------------- */
.descriptif {
    text-align: center;
    margin-top: 20px;
}

.descriptif ul {
    margin-top: 0px;
    padding: 0px;
}

/* ---------- ACCUEIL HTML VERSION MOBILE ---------- */
@media (max-width: 768px) {

    /* TAILLES DE POLICE */
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 16px;
    }

    p,
    li {
        font-size: 12px;
    }

    .mention a {
        font-size: 12px;
    }

    /* NAVBAR MOBILE */
    .menu_header.open {
        display: flex;
    }

    .menu_header {
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .menu_header a {
        font-size: 16px;
        /* plus lisible en mobile */
    }

    .burger {
        display: block;
        cursor: pointer;
        font-size: 30px;
    }
}


/*  CARD ACCUEIL AVIS  */
.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 45px;
}

.card {
    width: 300px;
    height: auto;
    /* Laisse le contenu définir la hauteur */
    background-color: var(--card);
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.card img {
    height: 26px;
}

.card h2 {
    margin-top: 0px;
}


/* CARD ACCUEIL AVIS MOBILE */
@media (max-width: 768px) {

    .cards {
        flex-direction: column;
        /* une card par ligne */
        align-items: center;
        /* centrage horizontal */
        gap: 25px;
        /* espace propre entre les cards */
        margin: 20px;
        /* marge réduite */
    }

    .card {
        width: 90%;
        /* s’adapte à l’écran */
        max-width: 350px;
        /* limite propre */
        height: auto;
        /* laisse respirer le contenu */
        padding: 20px;
        margin: 10px auto;
    }

    .card img {
        height: 30px;
        /* un peu plus lisible en mobile */
    }
}

/*-------------------------------- FIN CARD ACCUEIL AVIS  -------------------------------------*/





/*----------------------------  MENUS HTML  ------------------------------------*/
/* MARGE NAVBAR ET FILTRES */
.menus-page {
    padding: 20px;
}

/* FILTRES */
.filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.filter-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-input {
    width: 160px;
    /* largeur plus grande */
    padding: 8px 10px;
    margin-top: 8px;
    /* espace entre bouton et input */
    border: 1px solid #ccc;
    border-radius: 6px;
}


.filters button {
    background-color: var(--btn);
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    color: var(--txt-dark);
    font-weight: bold;
    font-size: 1rem;
    /* 16px */
}


/* BOUTON DETAILS DANS LES CARDS MENUS */
.btn-details {
    background-color: var(--btn);
    color: var(--txt-dark);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 8px;
    font-weight: bold;
}


/*FILTRES MOBILE */
@media (max-width: 768px) {

    .filters {
        flex-direction: column;
        /* filtres les uns sous les autres */
        align-items: center;
        /* centrage horizontal */
        gap: 9px;
        /* espace réduit */
        margin-bottom: -38px;
    }

    .filter-item {
        width: 100%;
        align-items: center;
        /* centre bouton + input */
    }

    .filters button {
        font-size: 0.8rem;
        padding: 8px 16px;
        /* plus compact */
    }

    .filter-input {
        width: 140px;
        /* plus étroit */
        font-size: 0.9rem;
        /* texte plus petit */
        padding: 6px 8px;
    }
}

/*--------------  CARDS MENUS GLOBAL MENU.HTML -----------------------*/


.menu-info {
    text-align: center;
}

.menu-card {
    background-color: var(--card);
    border-radius: 12px;
    height: auto;
    padding: 20px;
    margin: 60px auto;
    max-width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start
}

/* IMAGE DANS LES CARDS MENUS */
.menu-img img {
    width: 370px;
    height: 280px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* REDIMENSIONNER IMAGE FLECHE */
.arrow img {
    width: 60px;
    height: 60px;
}

/* Conteneur des flèches  */
.arrow-container {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    gap: 34px;
}

/* ENLÈVE BORDURE DES FLECHES*/
.arrow {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

/*---- CARDS MENUS GLOBAL MENU.HTML RESPONSIVE  ----*/
@media (max-width: 768px) {

    .menu-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 20px;
        max-width: 500px;
    }

    .menu-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-img img {
        width: 80%;
        height: auto;
        margin-top: 5px;
    }

    .arrow-container {
        margin-top: 8px;
        gap: 20px;
    }

    .arrow img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 475px) {

    .menu-card {
        max-width: 300px;
    }
}

/*----------------------------------------------------------------*-


/*--------------  MENU DETAILS-HTML  -------------------*/

.btn-commande {
    background-color: var(--btn);
    color: var(--txt-dark);
    border: none;
    padding: 8px 18px;
    /* un peu plus large pour le texte */
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    /* évite les comportements bizarres */
    margin-top: 10px;
}


/*-------------------------------------  PAGE COMMANDE  --------------------------------- */
/* Centrage du container*/
.commande-container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.commande-card {
    background-color: var(--fond);
    padding: 30px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
}

#commande-form input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 0.9375rem; /* 15px */
}

.prix-info {
    font-size: 1.125rem; /* 18px */
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--txt-dark);
}
.btn-detail {
    background-color: var(--btn);
    color: var(--txt-dark);
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

/*  TERMINER CETTE PAGE ET VERIF RESPONSIVE      /*