/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------------MON SETTING PERSONNEL------------------*/
html, body{
    background:var(--fond)
}
/* ajouté image de fond responsive recadré en mobile

/* POLICE */
@font-face {
    font-family: "RobotoBold";
    src: url("../police/Roboto-Bold.ttf") format("truetype");
    font-weight: 800;
}

/* ---------- TAILLES DE POLICE (DESKTOP) ---------- */
h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

p,
li {
    font-size: 18px;
    margin-top: 5px; /* Aère un peu le texte*/
}

/* PALETTE (charte graphique) */
:root {
    --txt-light: #FFFFFF;
    --txt-dark: #0E0F0F;
    --header: #8DAA9D;
    --card: #699897;
    --fond: #4A6A69;
    --btn: #FFA7A1;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------  RÉGLAGE DE TOUS LES BOUTONS  ------------------------*/





/* ------- BOUTONS ESPACE ADMINISTRATEUR  --------*/
.btn-primary, 
.btn-suspend, 
.btn-supprimer,
.btn-supprimer-employe,
.btn-modifier-menu,
.btn-supprimer-menu,
.btn-modifier-plat,
.btn-supprimer-plat,
.btn-modifier-horaire,
.btn-supprimer-horaire,
.btn-valider-avis,
.btn-refuser-avis,
.btn-action,
.btn-danger,
.btn-annuler,
.btn-detail,
.btn-details2,
.btn-commande,
#btn-reset ,
#login-form button
{
    background: #FFA7A1;
    color: #0E0F0F;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    min-width: 120px;
    margin-top: 10px;
    font-weight: bold;
}











/*----------------------------------------------FIN RÉGLAGE DES BOUTONS  ---------------------------------------------------------------------------*/


/* UL sans puces */
li {
    list-style: none;
}

/*---------  FOOTER  ------------------*/

.footer {
    margin-top: 0px;
    padding: 5px;
    background-color: var(--header);
    font-family: "RobotoBold", sans-serif;
    color: var(--txt-dark);
    text-align: center;
}

/* UL horaires centrées */
.ul_horaire {
    padding-left: 0;
    margin-left: 0;
    text-align: center;
}

/* Horaires centrées */
.ul_horaire li {
    text-align: center;
}

/* Mentions légales alignées à gauche */
.mention {
    text-align: left;
    margin-top: 20px;
}
.mention a {
    font-size: 14px;
    color: var(--txt-dark);
}

/*-----------------------------------------------------------------------------------------*/


/*------------------------------- NAVBAR ------------------------------------------- */
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--header);
    font-family: "RobotoBold", sans-serif;
    position: relative;
}

.logo {
    max-width: 120px;
    height: auto;
}

.burger {
    display: none;
    color: var(--txt-dark);
}

.menu_header {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu_header a {
    text-decoration: none;
    color: var(--txt-dark);
    font-size: 22px;
    font-weight: 500;
}




/* --------------------- ACCUEIL HTML----------------------- */
.descriptif {
    text-align: center;
    margin-top: 20px;
}

.descriptif ul {
    margin-top: 0px;
    padding: 0px;
}

/* ---------- ACCUEIL HTML VERSION MOBILE ---------- */
@media (max-width: 768px) {

    /* TAILLES DE POLICE */
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 16px;
    }

    p,
    li {
        font-size: 16px;
        margin-top: 5px; /*aère un peu le texte*/
    }

    .mention a {
        font-size: 12px;
    }


    /* NAVBAR MOBILE */
    .menu_header.open {
        display: flex;
        margin: auto;
    }

    .menu_header {
        display: none;
        flex-direction: column;
        background-color: var(--card);
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .menu_header a {
        font-size: 16px;
        /* plus lisible en mobile */
    }

    .burger {
        display: block;
        cursor: pointer;
        font-size: 30px;
    }
}


/*  CARD ACCUEIL AVIS  */
.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 45px;
}

.card {
    width: 300px;
    height: auto;
    /* Laisse le contenu définir la hauteur */
    background-color: var(--card);
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.card img {
    height: 26px;
}

.card h2 {
    margin-top: 0px;
}



/* CARD ACCUEIL AVIS MOBILE */


@media (max-width: 768px) {

    .cards {
        flex-direction: column;
        /* une card par ligne */
        align-items: center;
        /* centrage horizontal */
        gap: 25px;
        /* espace propre entre les cards */
        margin: 20px;
        /* marge réduite */
    }

    .card {
        width: 90%;
        /* s’adapte à l’écran */
        max-width: 350px;
        /* limite propre */
        height: auto;
        /* laisse respirer le contenu */
        padding: 20px;
        margin: 10px auto;
    }

    .card img {
        height: 30px;
        /* un peu plus lisible en mobile */
    }
}

/*-------------------------------- FIN CARD ACCUEIL AVIS  -------------------------------------*/





/*----------------------------  MENUS HTML  ------------------------------------*/
/* MARGE NAVBAR ET FILTRES */
.menus-page {
    padding: 20px;
}

/* FILTRES */
.filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.filter-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-input {
    width: 160px;
    /* largeur plus grande */
    padding: 8px 10px;
    margin-top: 8px;
    /* espace entre bouton et input */
    border: 1px solid #ccc;
    border-radius: 6px;
}


.filters button {
    background-color: var(--btn);
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    color: var(--txt-dark);
    font-weight: bold;
    font-size: 1rem;
    /* 16px */
}





/*FILTRES MOBILE */
@media (max-width: 768px) {

    .filters {
        flex-direction: column;
        /* filtres les uns sous les autres */
        align-items: center;
        /* centrage horizontal */
        gap: 9px;
        /* espace réduit */
        margin-bottom: -38px;
    }

    .filter-item {
        width: 100%;
        align-items: center;
        /* centre bouton + input */
    }

    .filters button {
        font-size: 0.8rem;
        padding: 8px 16px;
        /* plus compact */
    }

    .filter-input {
        width: 140px;
        /* plus étroit */
        font-size: 0.9rem;
        /* texte plus petit */
        padding: 6px 8px;
    }
}

/*--------------  CARDS MENUS GLOBAL MENU.HTML -----------------------*/


.menu-info {
    text-align: center;
}

.menu-card {
    background-color: var(--card);
    border-radius: 12px;
    height: auto;
    padding: 20px;
    margin: 60px auto;
    max-width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start
}

/* IMAGE DANS LES CARDS MENUS */
.menu-img img {
    width: 400px;
    height: 310px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
}

/* REDIMENSIONNER IMAGE FLECHE */
.arrow img {
    width: 60px;
    height: 60px;
}

/* Conteneur des flèches  */
.arrow-container {
    margin-top: -80px;
    display: flex;
    justify-content: center;
    gap: 34px;
}

/* ENLÈVE BORDURE DES FLECHES*/
.arrow {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

/*---- CARDS MENUS GLOBAL MENU.HTML RESPONSIVE  ----*/
@media (max-width: 768px) {

    .menu-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 20px;
        max-width: 600px;
    }

    .menu-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-img img {
        width: 80%;
        height: auto;
        margin-top: 5px;
    }

    .arrow-container {
        margin-top: 8px;
        gap: 20px;
    }

    .arrow img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 475px) {

    .menu-card {
        max-width: 340px;
    }
}
@media (max-width: 360px) {
        .menu-card {
        max-width: 300px;
    }
}


/*----------------------------------------------------------------*-





/*-------------------------------------  PAGE COMMANDE  --------------------------------- */
/* Centrage du container*/
.commande-container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.commande-card {
    background-color: var(--fond);
    padding: 30px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
}

#commande-form input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 0.9375rem; /* 15px */
}

.prix-info {
    font-size: 1.125rem; /* 18px */
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--txt-dark);
}




/* -----------------PAGE REGISTER  ------------------------------- */
.register-container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.register-card {
    background-color: var(--card);
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.register-card h1 {
    text-align: center;
    margin-bottom: 25px;
}

#register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#register-form input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.password-info {
    text-align: center;
    font-size: 1.1rem;
    opacity: 0.9;
    margin: 10px 0 20px 0;
    line-height: 1.5;
}


/*------------CONTACT HTML  ----------------------*/

.contact-container h1{
    text-align: center;
    margin-top: 20px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    margin-top: 30px;
}

#contact-form label {
    color: var(--txt-dark);
    font-size: 20px;
}


#contact-form input,
#contact-form textarea {
    padding: 0.8rem;
    border: 1px solid;
    border-radius: 4px;
    font-size: 1rem;
    transition: border 0.3s;
}

/* Message de confirmation */
.hidden {
    display: none;
}

#message-confirmation {
    text-align: center;
    color: var(--primary);
    font-weight: 500;
    margin-top: 2rem;
    font-size: 1.1rem;
}

/*--------------- MENTION LEGAL HTML -----------------------*/
.legal-container {
    max-width: 900px; /* Valeur la plus large conservée */
    margin: 40px auto; /* Marge supérieure/inférieure plus importante */
    padding: 20px;
}

.legal-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.legal-container section {
    margin-bottom: 25px;
}

.legal-container h2 {
    margin-bottom: 10px;
}


/*---------------  ESPACE ADMINISTRATEUR  -----------------------------*/
.admin-section {
    background: var(--card);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.admin-section h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: var(--txt-dark);
    text-align: center;
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}

/* ====== LISTES ====== */
.admin-section ul {
    list-style: none;
    padding: 0;
}

.admin-section li {
    background: var(--header);
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 6px;
}

.admin-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.admin-item-info {
    display: grid;
}

.admin-item-info strong {
    display: block;
    margin-bottom: 5px;
}



.admin-actions {
    display: flex;
    gap: 10px;
}

/* ====== FILTRES ====== */
.filtres {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.filtres input,
.filtres select,
.select-statut {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex: 1;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
    /* Section commandes */
    .admin-section .filters {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .filters select,
    .filters input {
        width: 100% !important;
        padding: 8px;
        box-sizing: border-box;
    }

    /* Liste des commandes */
    .admin-list li {
        flex-direction: column !important;
    }

    .admin-item-info,
    .admin-actions {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .admin-actions {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .admin-actions select,
    .admin-actions button {
        width: 100% !important;
        padding: 8px;
    }
}



/*-------------------  ESPACE UTILISATEUR  ------------------------*/

.user-container {
    max-width: 900px;
    margin: 0px auto 0 auto;
    padding: 20px;

    background-color: #4A6A69; /* couleur de fond de ta charte */
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.commandes-liste{
    color: #FFFFFF;
}

.commande-details strong {
    color: var(--txt-dark);
}


/*--------------------------  LOGIN HTML  ----------------------------------------------------*/

.login-container{
    background-color:var(--card);
    width: auto;
    min-height: 336px;
}
.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center; /* centre horizontalement */
    gap: 12px;
}

.login-container, h1{
    text-align: center;
    margin-top: 1rem;
}

.login-container label,
.login-container input,
.login-container button {
    width: 30%;
}

#btn-reset {
    width: 30%;
    margin: 15px auto 0 auto; /* centre + espace */
    display: block;
}

.login-form ,label{
    font-weight: bold;
    color: #0E0F0F;
    font-size: 18px;
}

.login-form ,#email, #password{
    height: 30px;
}


