/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* POLICE */
@font-face {
    font-family: "RobotoBold";
    src: url("../police/Roboto-Bold.ttf") format("truetype");
    font-weight: 800;
}

h1,
.menu_header a {
    font-family: "RobotoBold", sans-serif;
    font-weight: 800;
}

/* TAILLES POLICE*/
h1 {
    font-size: 22px;
}

h2, h3 {
    font-size: 16px;
}

li a {
    color: #0E0F0F;
}

h1, h2, h3, li {
    color: white;
}

/* --------------  IMAGE  ------------------------------ */
body {
    background-image: url(../images/traiteur.jpg);
    background-size: cover;
}

/* HEADER */
header {
    background-color: #8DAA9D;
}

.nav-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

/*----------------- MENU --------------------*/
.menu_header {
    position: absolute;
    display: flex;
    list-style: none;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.menu_header a {
    text-decoration: none;
    font-size: 28px;
}

/* ----------------DESCRIPTIF------------------------ */
.descriptif {
    text-align: center;
    margin-top: 20px;
}

/*------------------ CARDS ---------------------*/
.cards {
    display: flex;
    gap: 135px;
    justify-content: center;
    margin: 45px;
}

.card {
    width: 310px;
    height: 130px;
    background-color: #699897;
    border-radius: 12px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card img {
    height: 26px;
}

.card h2 {
    font-size: 32px;
    margin-top: -20px;
}

/* FOOTER */
.footer {
    
    padding: 10px;
}

.footer h2 {
    text-align: center;
    margin-bottom: 20px;
}

.ul_horaire {
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
}

.mention {
    text-align: left;
}
