/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* POLICE */
@font-face {
    font-family: "RobotoBold";
    src: url("../police/Roboto-Bold.ttf") format("truetype");
    font-weight: 800;
}

/* PALETTE (charte graphique) */
:root {
    --txt-light: #FFFFFF;
    --txt-dark: #0E0F0F;

    --header: #8DAA9D;
    --card: #699897;
    --fond: #4A6A69;
    --btn: #FFA7A1;
}

/* FOND GLOBAL (tu ne veux plus d'image) */
body {
background-image: url(../images/traiteur.jpg);
background-size: cover;
}

/* TITRES + NAVBAR */
h1,
.menu_header a {
    font-family: "RobotoBold", sans-serif;
    font-weight: 800;
}

/* TAILLES POLICE */
h1 {
    font-size: 32px;
}

h2, h3 ,p{
    font-size: 26px;
}
li {
    font-size: 24px;
    list-style: none;
}

/* COULEURS TEXTE */
li a {
    color: var(--txt-dark);
}

h1, h2, h3, li ,p{
    color: var(--txt-light);
}

.mention a {
    color: var(--txt-light);
}

/* HEADER */
header {
    background-color: var(--header);
}

.nav-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

/* MENU NAVBAR */
.menu_header {
    position: absolute;
    display: flex;
    list-style: none;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.menu_header a {
    text-decoration: none;
    font-size: 28px;
}

/* DESCRIPTIF */
.descriptif {
    text-align: center;
    margin-top: 20px;
}

/* CARDS AVIS */
.cards {
    display: flex;
    gap: 135px;
    justify-content: center;
    margin: 45px;
}

.card {
    width: 300px;
    height: 210px;
    background-color: var(--card);
    border-radius: 12px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card img {
    height: 26px;
}

.card h2 {
    font-size: 32px;
    margin-top: -20px;
}

/* FOOTER */
.footer {
    padding: 10px;
}

.footer h2 {
    text-align: center;
    margin-bottom: 20px;
}

.ul_horaire {
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

.mention {
    text-align: left;
}
/*------------------menu global---------------------------*//* PAGE MENUS GLOBAUX */
.menus-page {
    padding: 40px;
}

/* FILTRES */
.filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.filters button {
    background-color: var(--btn);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    color: var(--txt-dark);
    font-weight: bold;
}

/* CARDS MENUS menu global*/
.menu-card {
    background-color: var(--card);
    border-radius: 12px;
    height: auto;
    padding: 20px;
    margin: 30px auto;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.menu-info {
    width: 55%;
}

.menu-img img {
    width: 370px;
    height: 280px;
    margin-top: 140px;
    border-radius: 12px;
}

.btn-detail {
    margin-top: 15px;
    background-color: var(--btn);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    color: var(--txt-dark);
    font-weight: bold;
}

/* SLIDER IMAGES */
.menu-img {
    display: flex;
    flex-direction: column; /* image en haut, flèches en bas */
    align-items: center;
    justify-content: center;
}

.menu-img .main-img {
    width: 370px;
    height: 277px;
    border-radius: 12px;
    object-fit: cover;
}

/* Conteneur des flèches */
.arrow-container {
    margin-top: -120px;
    display: flex;
    gap: 20px;
}

/* Boutons flèches */
.arrow {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.arrow img {
    width: 70px;
    height: 70px;
}


/* Position des flèches */
.arrow.left {
    left: -50px;
}

.arrow.right {
    right: -50px;
}
