* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*déclaration de la police pour le H1*/
@font-face {
    font-family: "RobotoBold";
    src: url("../police/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

/* application de la police au H1 */
h1 {
    font-family: "RobotoBold", sans-serif;
    font-weight: 700;
}

header {
    background-color: #8DAA9D;
}

body {
    background-image: url(../images/traiteur.jpg);
    background-size: cover;
    background-attachment: fixed;   /* Pour que l'image de fond reste fixe lors du défilement */
    color: white;  /*texte en blanc pour être lisible sur l'image de fond */
}

.navbar {
  background-color: #8DAA9D;
}

.nav-link { /*police desktop*/
  font-size: 32px;
  color: #0E0F0F
}
@media (max-width: 768px) { /*police mobile*/
  .nav-link { 
    font-size: 18px;
  }
}

.nav-link:hover {
  text-decoration: underline;
}
.navbar {
    background-color: #8DAA9D !important;
}

.descriptif {
    text-align: center;
    margin-top: 45px;
}

@media (max-width: 768px) { /*police mobile h1*/
  .descriptif h1 { 
    font-size: 20px;
  }
}

@media (max-width: 768px) { /*police mobile h2*/
  .descriptif h2 ,.descriptif h3{ 
    font-size: 14px;
  }
}


.card {
    background-color: #699897;
    color: #ffffff;
    border-radius: 20px;
}

.card-body img {
    max-width: 120px;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .card {
        width: 80%;
        margin: 0 auto;
    }
}